html {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


.brand {
    display: flex;
    font-size: 40px
}
.cancel {
    font-size: 15px;
    margin-left: 20%;
}
.logo {
    margin-right: 2%;
}

main {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-modal {
    width: 75%;
    background-color: white;
    padding: 5%;
    min-height: 50vh;
}
h4 {
    margin-top: 5%;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input {
    height: 35px;
    padding: 2%;
    font-size: 20px;
}
label {
    margin-top: 5%;
}
button {
    height: 30px;
    margin: 5%;
    font-size: 20px;
}

footer {
    height: 30px;
    background-color: grey;
    padding: 3%;
    text-align: right;
}